# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/

# System files
.DS_Store

# Editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and temporary files
*.log
*.tmp

# WiFi capture files
captures/*.pcap
